.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 10px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 90px 40px;
}
.order-checkout-btn {
  width: 95%;
  height: 50px;
  background-color: #ffb303;
  color: white;
  font-size: 20px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-link {
  text-decoration: none;
}
