.cart-container {
  background-color: #f0c078;
  padding: 20px;
  padding-bottom: 300px;
  position: sticky;
  top: 0;
}
.cart-container h2 {
  text-align: center;
}
.cart-info {
  margin-left: 20px;
  margin-top: 35px;
}
.clear-cart-btn {
  width: 95%;
  height: 50px;
  background-color: #ff2b2b;
  color: white;
  font-size: 20px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
