.product {
  width: 300px;
  height: 550px;
  border: 1px solid #95a0a7;
  border-radius: 7px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 7px;
  margin: 7px;
}
.product-info {
  margin-left: 12px;
}
.product-name {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}
.product-price {
  margin-bottom: 50px;
  margin-top: 5px;
  font-size: 18px;
  font-family: "Lato";
  font-style: normal;
  color: #0e161a;
}
.product-btn {
  width: 100%;
  background: #f0c078;
  color: #0e161a;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.product-btn:hover {
  background-color: #e08b0a;
  color: aliceblue;
  transition: 0.5s;
}
